<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.ev3.behaviours/DSL"
			class = "ev3.behaviours.ev3DSL.Ev3DSLPackage"
			genModel = "model/generated/DSL.genmodel" />
	</extension>
</plugin>
